*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(201, 201, 201);
}

header{
    position: fixed;
    display: flex;
    width: 100%;
    height: 15vh;
    background-color: rgb(56, 56, 56);
    justify-content: space-around;
    align-items: center;
    z-index: 999;
}

header .logo a{
    display: block;
    color: rgb(224, 224, 224);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.5rem;
    font-weight: 700;
    transition: 0.3s ease-in;
}

header .logo a:hover{
    color: rgb(0, 151, 238);
    transform: scale(1.1);
}

header .main-nav{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header.sticky{
    background-color: crimson;
}

header .main-nav .nav-list{
    display: flex;
    width: 100%;
    height: 100%;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}


header .main-nav .nav-list .nav-item a{
    text-decoration: none;
    color: rgb(224, 224, 224);
    transition: 0.3s ease-in;
    font-size: 1.1rem;
}

header .main-nav .nav-list .nav-item a:hover{
    color: rgb(74, 165, 218);
}

.burger{
    display: none;
}

.burger div{
   width: 30px;
   height: 3px;
   background-color: rgb(224, 224, 224);
   margin: 5px;
   transition: 0.5s;
}


/*Wallpaper*/

.main-image{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(../images/wallpaper.jpg) no-repeat center;
    background-size: cover;
    padding: 3em;
}

.main-image h1{
    color: rgb(224, 224, 224);
    font-size: 3.5em;
    z-index: 1;
}

.main-image h2{
    margin-top: 10px;
    color: rgb(224, 224, 224);
    font-size: 1.5rem;
    z-index: 1;
    font-weight: 500;
}

.main-image h2 span{
    font-weight: 700;
    color: rgb(0, 151, 238);
}

.main-image::before{
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
}

.main-image .button{
   padding: 20px 30px;
   width: auto;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(0, 151, 238);
   border-radius: 30px;
   z-index: 1;
   font-size: 20px;
   font-weight: 500;
   color: rgba(0, 0, 0, 0.7);
   margin-top: 20px;
   transition: 0.3s ease-in;
   cursor: pointer;
   font-weight: 700;
}

.main-image .button:hover{
    transform: scale(1.1);
    background-color: crimson;
    
}


/*Intro section*/

.intro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.intro .intro-img{
    width: 30%;
}

.intro .intro-img img{
    width: 90%;
}

.intro .intro-text{
    width: 40%;
    height: auto;
    background-color:rgb(0, 151, 238, 0.7);
    padding: 50px;
}

.intro .intro-text h2{
    text-transform: uppercase;
    
}

.intro .intro-text p{
    text-align: justify;
    color: rgba(0, 0, 0, 0.8);
}


/*Skills section*/

.skills{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../images/skills-background.jpg);
    background-size: cover;
}

.skills::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 85vh;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1;
}

.skills div{
    border-radius: 10px;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    height: auto;
    background-color: rgba(206, 206, 206);
    z-index: 6;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.skills div:hover{
    transform: scale(1.1);
}

.skills div ul{
    width: 100%;

}

.skills .skill-1{
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
}

.skills .skill-2{
    background: linear-gradient(45deg, #4e54c8, #8f94fb);
}

.skills .skill-3{
    background: linear-gradient(45deg, #ffe000, #799f0c);
}

.skills div h2{
    margin-bottom: 10px;
}


/*Footer styling*/
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: rgb(36, 36, 36);
}

.footer .socials-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    height: 100%;

}

.footer .socials-links a i{
    font-size: 2.5rem;
    color: #fff;   
}

.footer .footer-map{
    width: 60%;
    height: 100%;
}

.footer .footer-map .footer-map-list{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.footer .footer-map .footer-map-list li{
    list-style: none;
}

.footer .footer-map .footer-map-list .footer-map-item a{
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}

.footer .footer-map .copyright a{
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
}



/*PORTFOLIO page*/

main .portfolio-wrapper{
    padding: 50px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

main .portfolio-wrapper .portfolio-item{
    margin: 20px 10px;
    width: 20%;
    height: 150px;
    transition: 00.3s ease-in;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

main .portfolio-wrapper .portfolio-item:nth-child(1){
    background: url(../images/web-site-example1.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(2){
    background: url(../images/web-site-example2.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(3){
    background: url(../images/web-site-example3.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(4){
    background: url(../images/web-site-example4.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(5){
    background: url(../images/web-site-example5.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(6){
    background: url(../images/web-site-example6.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(7){
    background: url(../images/web-site-example7.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(8){
    background: url(../images/web-site-example8.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(9){
    background: url(../images/web-site-example9.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(10){
    background: url(../images/web-site-example10.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(11){
    background: url(../images/web-site-example11.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(12){
    background: url(../images/web-site-example12.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(13){
    background: url(../images/web-site-example13.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(14){
    background: url(../images/web-site-example14.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(15){
    background: url(../images/web-site-example15.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(16){
    background: url(../images/web-site-example16.jpg) no-repeat top center;
    background-size: cover;
}



main .portfolio-wrapper .portfolio-item-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in;
}

main .portfolio-wrapper .portfolio-item-overlay h3{
  opacity: 0;
  color: rgb(224, 224, 224);
  font-weight: 500;
}

main .portfolio-wrapper .portfolio-item:hover .portfolio-item-overlay{
    background-color: rgba(0, 0, 0, 0.8);
}

main .portfolio-wrapper .portfolio-item:hover{
    transform: translateY(-10px);
}

main .portfolio-wrapper .portfolio-item:hover .portfolio-item-overlay h3{
    opacity: 1;
}




/*CONTACTS page*/

.contacts{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
}

.contacts-wrapper{
    width: 80%;
    height: 70vh;
    background-color: rgb(0, 151, 238);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    padding: 40px;
    margin-bottom: 50px;
}

.map{
    width: 50%;
    height: 100%;
    border-top-left-radius : 20px ;
    border-bottom-left-radius: 20px;
    
}

.map iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    border: 0;
}

.form{
    width: 50%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.form h2{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(230, 230, 230);
}
.form form{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.form form *{
    margin-bottom: 2px;
    width: 80%;
    min-height: 30px;
    border-radius: 20px;
    border: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    padding: 10px;
}
.form form .Client-name{
    height: 15%;
}
.form form .Client-email{
    height: 15%;
}
.form form .Message{
    height: 30%;
}
.form form .submit-btn{
    height: 10%;
    width: 40%;
    background-color: crimson;
    font-size: 1.rem;
    line-height: 10%;
    cursor: pointer;
    transition: 0.3s ease-in;
    text-transform: uppercase;
    letter-spacing: 2px;
    
}
.form form .submit-btn:hover{
    background-color: #fff;
}


/*Phone numbers section (Contacts page)*/

.contacts .contacts-wrapper2{
    width: 80%;
    height: 70vh;
    background-color: rgb(216, 78, 27);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    padding: 40px;
}

.contacts .contacts-wrapper2 .phone-numbers{
    width: 50%;
    height: 100%;
    background-color: #fff;
}
.contacts .contacts-wrapper2 .contacts-video{
    width: 50%;
    height: 100%;
    background-color: blue;
}

















/*RESPONSIVENESS*/


@media screen and (max-width: 1100px){
    /*Skills section (HOME page) responsiveness*/
    .skills div{
        padding: 20px 40px;
        width: 25%;
    }
    .skills div h2{
        font-size: 1.3rem;
    }
    .skills div ul li{
        font-size: 1rem;
    }

    /*Footer responsiveness*/
    .footer{
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        height: auto;
    }
    .footer .socials-links {
        width: 50%;
        margin-bottom: 20px;
    }
    .footer .footer-map{
        width: 100%;
    }
    .footer .footer-map .footer-map-list .footer-map-item a{
        font-size: 0.8rem;
    }

    /*Contacts section responsiveness*/
    .contacts{
        height: auto;
        padding: 50px 0;
    }
    .contacts-wrapper{
        flex-direction: column;
        height: auto;
        padding: 10px 30px;
    }
    .map{
        width: 100%;
        height: 40%;
        border-radius: 0;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .form{
        width: 100%;
        height: 60%;
        border-radius: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 20px;
    }
    .form form *{
        width: 100%;
        margin: 5px;
        height: 10%;
    }
    .form form .Message{
        height: 20%;
    }
    .form h2{
        display: none;
    }
    .form form .submit-btn{
        margin-top: 20px;
    }

}
@media screen and (max-width:768px){
    .intro{
        height: auto;
        padding: 50px 30px;
    }
    .intro .intro-img{
        width: 50%;
    }
    .intro ,.intro-img img{
        border-radius: 50%;
    }
    .intro .intro-text{
        width: 50%;
    }
    /*Mobile menu responsiveness*/
    .main-nav{
        position: absolute;
        right: 0px;
        top: 15vh;
        height: 85vh;
        background-color: rgb(56, 56, 56);
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 2;
    }
    body{
        overflow-x: hidden;
    }
    .main-nav .nav-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;  
    }
    .main-nav .nav-list li{
        border-bottom: 1px solid rgb(224, 224, 224, 0.5);
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-nav .nav-list:first-child{
      border-top: 1px solid rgb(224, 224, 224, 0.5);
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .main-nav-active{
        transform: translateX(0%);
    }
    .toggle .burger-line1{
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .burger-line2{
       opacity: 0; 
    }
    .toggle .burger-line3{
        transform: rotate(45deg) translate(-5px, -6px);
    }


    /*Intro image responsiveness*/
    .main-image h1{
        font-size: 2rem;
    }
    .main-image h2{
        font-size: 1.2rem;
    }


    /*Introductory info section responsiveness*/
    .intro .intro-text{
        width: 50%;
        padding: 20px;
    }
    .intro .intro-text h2{
        font-size: 1rem;
    }
    .intro .intro-text p{
        font-size: 0.8rem;
    }

    /*Skills section (HOME page) responsiveness*/
    .skills{
        padding: 50px 0;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .skills::before{
        height: 0px;
    }
    .skills div{
        width: 70%;
        margin: 10px 0;
    }
    .skills div h2{
        font-size: 1rem;
    }
    .skills div ul li{
        font-size: 0.8rem;
    }

    
   
    /*PORTFOLIO responsiveness*/
    main .portfolio-wrapper .portfolio-item{
        width: 90%;
        height: 200px;
    }
}

@media screen and (max-width: 600px){
    /*Intro*/
    .intro{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .intro .intro-img{
        width: 90%;
        height: 300px;
        text-align: center;
    }
    .intro .intro-img img{
        border-radius: 0;
    }
    .intro .intro-text{
        width: 90%;
        background-color: lawngreen;
    }
    
    /*FOOTER*/
    .footer .footer-map .footer-map-list{
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: rgb(56, 56, 56);
        padding: 10px;
        border-radius: 20px;
    }
    .footer .footer-map .footer-map-list .footer-map-item a{
        font-size: 1rem;
    }

    /*PORTFOLIO*/

   
}