*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --mainColor : #17252a;
    --secColor  : rgb(74, 165, 218);
    --mainFont  :'Poppins', sans-serif;
}

body{
    font-family: var(--mainFont);
    background: linear-gradient(90deg, rgba(217,241,255,1) 0%, rgba(74,165,218,1) 50%, rgba(12,104,193,1) 100%);
}

header{
    position: fixed;
    display: flex;
    width: 100%;
    height: 15vh;
    background-color: var(--mainColor);
    justify-content: space-around;
    align-items: center;
    z-index: 999;
    border-bottom: 2px solid  var(--secColor);
}

header .logo{
   height: 14vh;
}

header .logo img{
    height: 100%;
    transition: 1s;
    cursor: pointer;
}

header .logo img:hover{
    transform: scale(1.1);
}

header .main-nav{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .main-nav .nav-list{
    display: flex;
    width: 100%;
    height: 100%;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

header .main-nav .nav-list .nav-item a{
    text-decoration: none;
    color: #feffff;
    transition: all 0.3s ease-in;
    font-size: 1.1rem;
    font-weight: bold;
}

header .main-nav .nav-list .nav-item a:hover{
    color: var(--secColor);
    
}

.burger{
    display: none;
}

.burger div{
   width: 30px;
   height: 3px;
   background-color: #feffff;
   margin: 5px;
   transition: 0.5s;
}


/*Wallpaper*/

.main-image{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url(../images/wallpaper.jpg) no-repeat center;
    background-size: cover;
    padding: 3em;

    animation-name: change_background;
    animation-direction: alternate-reverse;
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}

.main-image h1{
    color: rgb(224, 224, 224);
    font-size: 3.5em;
    z-index: 1;
}

.main-image h2{
    margin-top: 10px;
    color: rgb(224, 224, 224);
    font-size: 1.5rem;
    z-index: 1;
    font-weight: 500;
}

.main-image h2 span{
    font-weight: 700;
    color: rgb(0, 151, 238);
}

.main-image::before{
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
}

.main-image .button{
   padding: 20px 30px;
   width: auto;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(0, 151, 238);
   border-radius: 30px;
   z-index: 1;
   font-size: 20px;
   font-weight: 500;
   margin-top: 20px;
   transition: 0.3s ease-in;
   cursor: pointer;
   font-weight: 700;
}

.main-image .button:hover{
    transform: scale(1.1);
    background-color: crimson;
    
}

.main-image a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}


/*Intro section*/

.intro{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.intro .intro-img{
    width: 30%;
    
}

.intro .intro-img img{
    width: 90%;
    box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.7);
}

.intro .intro-text{
    width: 40%;
    height: auto;
    background-color:rgb(0, 151, 238, 0.7);
    padding: 50px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.7);
}

.intro .intro-text h2{
    text-transform: uppercase;
    
}

.intro .intro-text p{
    text-align: justify;
    color: rgba(0, 0, 0, 0.8);
}


/*Skills section*/

.skills{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../images/skills-background.jpg);
    background-size: cover;
}

.skills::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 85vh;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1;
}

.skills div{
    border-radius: 10px;
    padding: 30px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 25%;
    height: auto;
    background-color: rgba(206, 206, 206);
    z-index: 6;
    transition: 0.3s ease-in;
    cursor: pointer;
}

.skills div:hover{
    transform: scale(1.1);
}

.skills div ul{
    width: 100%;

}

.skills .skill-1{
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
}

.skills .skill-2{
    background: linear-gradient(45deg, #4e54c8, #8f94fb);
}

.skills .skill-3{
    background: linear-gradient(45deg, #ffe000, #799f0c);
}

.skills div h2{
    margin-bottom: 10px;
}


/*Footer styling*/
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 20vh;
    background-color: var(--mainColor);
    border-top: 2px solid var(--secColor);
}

.footer .socials-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 15%;
    height: 100%;

}

.footer .socials-links a i{
    font-size: 2.5rem;
    color: #feffff;  
    transition: 0.3s ease-in; 
    line-height: 87%; 
}
.footer .socials-links a:first-child:hover i{
    color:#0088cc;
    background-color: #fff;
    border-radius: 100px;
    transform: scale(1.05);
}
.footer .socials-links a:nth-child(2):hover i{
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    border-radius: 10px;
    transform: scale(1.05);
}
.footer .socials-links a:nth-child(3):hover i{
    border-radius: 100px;
    background-color: #fff;
    color: #000;
    transform: scale(1.05);
}

.footer .footer-map{
    width: 60%;
    height: 100%;
}

.footer .footer-map .footer-map-list{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.footer .footer-map .footer-map-list li{
    list-style: none;
}

.footer .footer-map .footer-map-list .footer-map-item a{
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    transition: 0.3s ease-in;
}
.footer .footer-map .footer-map-list .footer-map-item a:hover{
    color: rgb(179, 179, 179);
}

.footer .footer-map .copyright a{
    text-decoration: none;
    color: #fff;
    font-size: 0.8rem;
}
footer .copyright{
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--secColor);
}
footer .copyright p{
    font-size: 0.7rem;
    text-align: center;
    color: #fff;
}



/*PORTFOLIO page*/

main .portfolio-wrapper{
    padding: 50px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

main .portfolio-wrapper .portfolio-item{
    margin: 20px 10px;
    width: 20%;
    height: 150px;
    transition: 00.3s ease-in;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

main .portfolio-wrapper .portfolio-item:nth-child(1){
    background: url(../images/web-site-example1.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(2){
    background: url(../images/web-site-example2.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(3){
    background: url(../images/web-site-example3.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(4){
    background: url(../images/web-site-example4.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(5){
    background: url(../images/web-site-example5.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(6){
    background: url(../images/web-site-example6.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(7){
    background: url(../images/web-site-example7.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(8){
    background: url(../images/web-site-example8.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(9){
    background: url(../images/web-site-example9.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(10){
    background: url(../images/web-site-example10.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(11){
    background: url(../images/web-site-example11.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(12){
    background: url(../images/web-site-example12.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(13){
    background: url(../images/web-site-example13.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(14){
    background: url(../images/web-site-example14.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(15){
    background: url(../images/web-site-example15.jpg) no-repeat top center;
    background-size: cover;
}
main .portfolio-wrapper .portfolio-item:nth-child(16){
    background: url(../images/web-site-example16.jpg) no-repeat top center;
    background-size: cover;
}



main .portfolio-wrapper .portfolio-item-overlay{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in;
}

main .portfolio-wrapper .portfolio-item-overlay h3{
  opacity: 0;
  color: rgb(241, 241, 241);
  font-weight: bold;
  text-transform: uppercase;
}

main .portfolio-wrapper .portfolio-item:hover .portfolio-item-overlay{
    background-color:rgba(0,0,0,0.9);;
}

main .portfolio-wrapper .portfolio-item:hover{
    transform: translateY(-10px);
}

main .portfolio-wrapper .portfolio-item:hover .portfolio-item-overlay h3{
    opacity: 1;
}




/*CONTACTS page*/

.contact-info{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg, rgba(217,241,255,1) 0%, rgba(74,165,218,1) 50%, rgba(12,104,193,1) 100%);
}

.contact-info .card{
    width: 25%;
    height: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
    padding: 10px 0 0 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.contact-info .card .icon{
    width: 100px;
    height: 100px;
    padding: 5px;
    border-radius: 100%;
    background-color: var(--mainColor);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    transition: 1s;
}

.contact-info .card .icon i{
    font-size: 2rem;
    color: rgb(245, 245, 245);
    transition: 1s;
}

.contact-info .card p{
    color: rgb(253, 253, 253);
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    transition: 1s ease-in;
    font-size: 1rem;
}
.contact-info .card .card-text{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--mainColor);
    transform: translateY(100%);
    opacity: 1;
    transition: 1s;
    margin-top: 20px;
}
.contact-info .card:hover .card-text{
    opacity: 1;
    transform: translateY(0);
}

.contact-info .card:hover p{
    opacity: 1;
}
.contact-info .card:hover .icon{
    background:  var(--mainColor);
}
.contact-info .card:hover .icon i{
    color: #fff;
}

.location{
    width: 100%;
    height: 85vh;
    background: url(../images/skills-background.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.location::before{
    content: "";
    width: 100%;
    height: 85vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
}
.location .map{
    width: 50%;
    height: 70%;
    z-index: 1;
}
.location .map iframe{
    width: 100%;
    height: 100%;
}
.form{
    width: 40%;
    height: 70%;
    background-color:  #feffff;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
}
.form form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.form form>*{
    margin-bottom: 10px;
    font-family: var(--mainFont);
}
.form form h2{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--mainColor);
}
.form form input{
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    border-radius: 20px;
}
.form form textarea{
    height: 60px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    border-radius: 20px;
    overflow: hidden;
}
.form form .submit-btn{
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s ease-in;
    background-color: var(--mainColor);
    color: #feffff;
}
.form form .submit-btn:hover{
    background-color: var(--secColor);
    color: #fff;
}

.form form .success{
    border: 3px solid rgb(19, 212, 1);
    background-color: rgb(184, 255, 162);
}
.form form .success::placeholder{
    color: rgb(19, 212, 1);
}
.form form .error{
    border: 3px solid #da0000;
    background-color: rgb(255, 183, 183);
}
.form form .error::placeholder{
    color: #da0000;
}





/*CV page*/
.cv{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0;
}
.cv .cv-download, .report{
    width: 40%;
    height: auto;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #feffff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    border-radius: 20px;
}
.cv img{
    width: 50%;
    margin-bottom: 20px;
    border: 5px solid var(--mainColor);
    border-radius: 20px;
}
.cv div a{
    text-decoration: none;
    color: #feffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
}
.cv div h2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: var(--mainColor);
    margin-bottom: 20px;
}
.open-btn,.download-btn{
    width: 70%;
    height: 60px;
    background-color: var(--mainColor);
    border-radius: 50px;
    margin-bottom: 10px;
    transition: 0.3s ease-in;
}
.download-btn{
    background-color: var(--mainColor);
}
.open-btn:hover{
    background-color: var(--secColor);
}
.download-btn:hover{
    background-color: var(--secColor);
}


/*ABOUT page*/
.about{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    background: linear-gradient(90deg, rgba(217,241,255,1) 0%, rgba(74,165,218,1) 50%, rgba(12,104,193,1) 100%);
}
.about-paragraph{
    width: 60%;
    height: auto;
    background-color: #feffff;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}
.about-paragraph h2{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    color: var(--mainColor);
}
.about-paragraph p{
    width: 100%;
    color: var(--mainColor);
    text-align: justify;
}

.about-video{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.video-wrapper{
    width: 40%;
    height: 70%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}
.video-wrapper video{
   width: 100%;
   height: 100%;
   border: 5px solid var(--mainColor);
   border-bottom: 10px solid var(--mainColor);
}
.video-wrapper video[poster]{
    object-fit: cover;
}
.about-video .education{
    width: 45%;
    height: auto;
    background-color:#feffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
}

.about-video .education h2{
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--mainColor);
}
.about-video .education ul li{
    line-height: 50px;
    list-style: none;
    color: var(--mainColor);
    border-bottom: 1px solid var(--mainColor);
}
.about-video .education ul li span{
    font-weight: bold;
    color: var(--secColor);
}
.about-video .education ul li i{
    color: var(--mainColor);
    margin-right: 10px;
}


/*Gallery*/
.gallery{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.gallery-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 3em;
}
.gallery-item{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    background: var(--mainColor);
}
.gallery-item .img-desc{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #feffff;
}
.gallery-item img{
    width: 100%;
    border-bottom: 3px solid #feffff;
}






/*RESPONSIVENESS*/


@media screen and (max-width: 1100px){
    /*Mobile menu responsiveness*/
    .main-nav{
        position: absolute;
        right: 0px;
        top: 15vh;
        height: 85vh;
        background-color: var(--mainColor);
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 2;
    }
    body{
        overflow-x: hidden;
    }
    .main-nav .nav-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;  
    }
    .main-nav .nav-list li{
        border-bottom: 1px solid #feffff;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .burger{
        display: block;
        cursor: pointer;
    }
    .main-nav-active{
        transform: translateX(0%);
    }
    .toggle .burger-line1{
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .toggle .burger-line2{
       opacity: 0; 
    }
    .toggle .burger-line3{
        transform: rotate(45deg) translate(-5px, -6px);
    }
    /*Skills section (HOME page) responsiveness*/
    .skills div{
        padding: 20px 40px;
        width: 25%;
    }
    .skills div h2{
        font-size: 1.3rem;
    }
    .skills div ul li{
        font-size: 1rem;
    }

    /*Footer responsiveness*/
    .footer{
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        height: auto;
    }
    .footer .socials-links {
        width: 50%;
        margin-bottom: 20px;
    }
    .footer .footer-map{
        width: 100%;
    }
    .footer .footer-map .footer-map-list .footer-map-item a{
        font-size: 0.8rem;
    }
    footer .copyright{
        flex-direction: column;
    }
    footer .copyright p{
        font-size: 0.5rem;
    }

    /*ABOUT page*/
    .about-paragraph{
        padding: 30px;
        width: 80%;
    }
    .about-paragraph h2{
        font-size: 1.2rem;
    }
    .about-paragraph p{
        font-size: 0.9rem;
    }
    .about-video{
        height: auto;
        padding: 50px 0;
        flex-direction: column;
    }
    .about-video .video-wrapper{
        width: 70%;
        padding-bottom: 50px;
    }
    .about-video .education{
        width: 70%;
    }
    .about-video .education h2{
        font-size: 1.2rem;
    }
    .about-video .education{
        font-size: 0.9rem;
    }

    /*CV page*/
    .cv{
        flex-direction: column;
        width: 100%;
    }
    .cv .cv-download, .report{
        width: 70%;
        margin-bottom: 20px;
    }

    /*Gallery page*/
    .gallery-container{
        grid-template-columns: repeat(3, 1fr);
    }
    
}
@media screen and (max-width:768px){
    .intro{
        height: auto;
        padding: 50px 30px;
    }
    .intro .intro-img{
        width: 50%;
    }
    .intro ,.intro-img img{
        border-radius: 50%;
    }
    .intro .intro-text{
        width: 50%;
    }
    


    /*Intro image responsiveness*/
    .main-image h1{
        font-size: 2rem;
    }
    .main-image h2{
        font-size: 1.2rem;
    }


    /*Introductory info section responsiveness*/
    .intro .intro-text{
        width: 50%;
        padding: 20px;
    }
    .intro .intro-text h2{
        font-size: 1rem;
    }
    .intro .intro-text p{
        font-size: 0.8rem;
    }

    /*Skills section (HOME page) responsiveness*/
    .skills{
        padding: 50px 0;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .skills::before{
        height: 0px;
    }
    .skills div{
        width: 70%;
        margin: 10px 0;
    }
    .skills div h2{
        font-size: 1rem;
    }
    .skills div ul li{
        font-size: 0.8rem;
    }

    footer .copyright p{
        font-size: 0.3rem;
    }
   
    /*PORTFOLIO responsiveness*/
    main .portfolio-wrapper .portfolio-item{
        width: 90%;
        height: 200px;
    }

    /*CONTACTS page*/

    .contact-info{
        flex-direction: column;
        height: auto;
        padding: 50px 0;
    }
    .contact-info .card{
        width: 60%;
        height: 30vh;
        margin: 20px 0;
        padding: 10px 0 0 0;
    }
    .contact-info .card .icon{
        width: 70px;
        height: 70px;
        padding: 0;
    }
    .contact-info .card .icon i{
        font-size: 1.5rem;
    }
    .location{
        flex-direction: column;
        height: auto;
        padding: 50px 0 ;
    }
    .location::before{
        height: auto;
    }
    .location .map{
        width: 70%;
        height: auto;
    }
    .location .form{
        width: 70%;
        height: auto;
    }

    /*ABOUT page*/
    .about-paragraph{
        padding: 30px;
        width: 80%;
    }
    .about-paragraph h2{
        font-size: 1rem;
    }
    .about-paragraph p{
        font-size: 0.8rem;
    }
    .about-video{
        height: auto;
        padding: 50px 0;
        flex-direction: column;
    }
    .about-video .video-wrapper{
        width: 70%;
        padding-bottom: 50px;
    }
    .about-video .education{
        width: 70%;
    }
    .about-video .education h2{
        font-size: 1rem;
    }
    .about-video .education{
        font-size: 0.8rem;
    }

    /*CV page*/
    .cv{
        flex-direction: column;
        width: 100%;
    }
    .cv>div a{
        font-size: 0.8rem;
        font-weight: bold;
    }
    .cv>div h2{
        font-size: 1.5rem;
    }

    /*Gallery page*/
    .gallery-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px){
    
    /*Intro*/
    .intro{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .intro .intro-img{
        width: 90%;
        height: 300px;
        text-align: center;
    }
    .intro .intro-img img{
        border-radius: 0;
    }
    .intro .intro-text{
        width: 90%;
        background-color: lawngreen;
    }
    
    /*FOOTER*/
    .footer .footer-map{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer .footer-map .footer-map-list{
        width: 60%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background:var(--secColor);
        padding: 10px;
        border-radius: 10px;
    }
    .footer .footer-map .footer-map-list .footer-map-item a{
        font-size: 1rem;
    }
    .footer .footer-map .footer-map-list .footer-map-item a:hover{
        color: var(--mainColor);
    }

/*ABOUT page*/
    .about-paragraph{
        padding: 30px;
        width: 80%;
    }
    .about-paragraph h2{
        font-size: 0.8rem;
    }
    .about-paragraph p{
        font-size: 0.6rem;
    }
    .about-video{
        height: auto;
        padding: 50px 0;
        flex-direction: column;
        
    }
    .about-video .video-wrapper{
        width: 70%;
        padding-bottom: 50px;
    }
    .about-video .education{
        width: 70%;
    }
    .about-video .education h2{
        font-size: 0.8rem;
    }
    .about-video .education{
        font-size: 0.6rem;
    }

   /*Gallery page*/
   .gallery-container{
    grid-template-columns: 1fr;
}
}

@keyframes change_background{
    0%{
       background-image: url(../images/background_animation1.png); 
    }
    50%{
       background-image: url(../images/background_animation2.png); 
    }
    100%{
        background-image:url(../images/background_animation3.png) ; 
    }
}